@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Oswald&display=swap:,300,500,600,700,800,900");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");

/* inital set up */
/* Setting default font size for page */
body,
html {
  font-size: 16px;
}

/* removing all margins and padding from bootsrap rows an cols */
.container-fluid,
.container,
.row {
  margin: 0;
  padding: 0;
}

/* end Inital setup */

/* targeting the  graphs an charts here */
/* targeting x axis to add angle tot text to make it visable*/
/* .xaxis text {
  text-anchor: end !important;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
} */

/* adding weight and font size to axis text */
.x.axis text,
.y.axis text {
  font-weight: 800;
  font-size: 0.9rem;
}

text.pie-slice.pie-label,
text.row,
.capitals {
  text-transform: uppercase;
}

/* over riding default row chart axis width here  */
.axis line {
  stroke-width: 5px;
}

/* end of targeting graphs */

/* reusable componets */
/* setting navlinks color to black here when they been hovered or clicked for better visabilty on white background  */
.navbar-light .navbar-nav .nav-link:link,
.navbar-light .navbar-nav .nav-link:hover,
.black {
  color: #000000;
}

/* setting font size, weight and line height for all paragraphs here */
.para {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2rem;
}

/* changing the title rows text color to white here to make it more visable */
.titlerow,
h2,
.white {
  color: #ffffff;
}

.text-oswald {
  font-family: "Oswald", sans-serif;
}

/* adding css to be target in javascript to hide an show div when button is clicked */
.hide-content {
  display: none;
}

.show-content {
  display: block;
}

/* setting margins tops to give enough space between rows that wrap each subsection of the main section here  */
.transfer_history_section,
.graph_section {
  margin-top: 2rem;
}

/* end reusable componets */

/* buttons  */
/* targeting data button in callout section here  */
.data_btn {
  border: 4px solid white;
  width: 50%;
  font-size: 1.5rem;
  font-weight: 700;
  background: transparent;
}

/* targeting the reset data button and callout main text here  */
.reset-data-btn,
.callout_main_text {
  font-size: 1rem;
  font-weight: 600;
}

/* adding style for reset data button */
.reset_btn_wrapper {
  text-align: center;
}

/* targerting both reset data buttons here */
.reset-data-btn {
  margin-top: 1.5rem;
  border: 2px solid #ffffff;
  background-color: #724d68;
}

/* end of buttons */

/* main body */

/* setting fonts */

/* barlow semi condensed added to all smaller text here as well as font size and weight being set  */
/* also  changing color legend text */
.footer-copyright,
.main_header,
.reset-data-btn,
#piechart_players_position,
g.row text,
g.axis,
.para,
.x.axis text,
.y.axis text,
text.pie-slice.pie-label,
text.row,
.text-barlow {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  fill: white;
}

/* setting font  margin top on main headers here so there not hidden under the fixed navabar */
/* font size will over ride font size on main header from above */
.main_header {
  margin-top: 7rem;
  font-size: 2rem;
}

/* setting background color of all  sections */
#footer,
#transfer_history_section,
#hiding_section_wrapper {
  background-color: #000000;
}

/* navbar */
/* fixed navbar  added here z-index added to put navbar on top of background Image  */
.navbar-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

/* setting font size for logo of football on navbar here */
i {
  font-size: 1.5rem;
}

/* adding navbar hambuger toggler here  */

.navbar .navbar-toggler-icon {
  background-image: url("https://mdbootstrap.com/img/svg/hamburger6.svg?color=000");
  font-size: 1.5rem;
}

/* end of navbar section */

/* callout section */
/* wrapper for callout Image */
.img-wrapper {
  height: 100%;
  width: 100%;
}

/* fixed background Image added here to take up full view height */
.callout-container {
  height: 100vh;
  background: url("https://res.cloudinary.com/plyn85/image/upload/v1572370878/milestone-2/football_data_radcs8.jpg")
    no-repeat fixed;
  background-position-x: 50%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

/* positioning callout text here  */
#callout_text {
  margin-top: 1.5rem;
  position: relative;
}

/*football history section*/
/* setting size of youtube vid in football history section here */
.football-vid {
  height: 30rem;
  width: 10rem;
}

/* end main body */

/* media queries */

/* small tablets and up */
@media (min-width: 567px) {
  /* setting larger size for navbar barnd an items here for small tablets and bigger devices here  */
  .navbar-brand,
  .navbar-nav {
    font-size: 2rem;
    padding: 0.3rem;
  }

  /* targeting data button in callout section here  */
  .data_btn {
    border: 4px solid white;
    margin: 0 0.2rem 0 0.2rem;
    font-size: 2.5rem;
    font-weight: 700;
    background: transparent;
  }

  /* setting larger font size foe main text of callout page here for small tablets and bigger devices */
  .callout_main_text {
    font-size: 2rem;
  }

  /* added here so border takes doesnt take effect in dropdown navbar  */
  .nav-border {
    border: 4px solid#000000;
    margin: 0 0.2rem 0 0.2rem;
  }

  /* linegraph an transfer history section setting differnt margin top here to giv more space on small tablets and bigger devices */
  .transfer_history_section,
  .graph_section {
    margin-top: 4.5rem;
  }
}

/* these where added here to adjust callout section for mobile in landscape view */
@media screen and (orientation: landscape) and (min-width: 300px) and (max-width: 767px) {
  /* making adjustments here for navbar an callout section in mobile landscape mode */
  /* much smaller font size set here to make navbar brand and items suit smaller space avaiable on mobile landscape mode here  */
  .navbar-brand,
  .navbar-nav {
    font-size: 1rem;
  }

  /* removing nav items border here so its not visable on dropdown in landsacpe mode on mobile here  */
  .nav-border {
    border: none;
  }

  /* setting much smaller callout section text here so it fits mobile landscape mode here  */
  .callout_main_text {
    font-size: 1rem;
  }

  /* setting much smaller font size an button width  here so it fits mobile landscape mode */
  .data_btn {
    font-size: 1rem;
    width: 30%;
  }
}

/* 
end of media queries */
.dc-chart svg {
  overflow: visible;
}
